.adminview_dashboard{
    margin:auto;
    margin-bottom:13px;
    margin-top: 13px; 
    display:flex;
    justify-content: space-between;
     
}
.adminview_dashboard button{
    margin-right: 6px;
    margin-left: 6px;
}